@using ShoppingCart_Team7B.Models;
@{
    ViewBag.Title = "View Purchases";
    User user = (User)ViewData["user"];
    List<Purchase> purchases = (List<Purchase>)ViewData["purchases"];
}

<div class="container">
    <nav class="navbar navbar-default" style="margin-bottom: 0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">My Purchases</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="~/Product/ListProducts">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/Cart/ViewCart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart (<span id="cartQuantity"></span>)</a></li>
                <li><a href="~/User/Logout"><span class="glyphicon glyphicon-log-out"></span>Logout (@user.Username)</a></li>
            </ul>
        </div>
    </nav>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
                    @if (purchases.Count == 0)
                    {
                        <h4 class="text-center">You have no previous purchases.</h4>
                    }
                    else
                    {
                        foreach (var purchase in purchases)
                        {
                            foreach (var purchaseGroup in purchase.PurchaseGroups)
                            {
                                <div class="row">
                                    <div class="col-xs-3" style="border: 1px solid #ccc; border-radius: 5px;">
                                        <div class="row">
                                            <div class="col-xs-12 text-center"><img width="80%" src="~/Images/productLogo.jpg" /></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center"><label>@purchaseGroup.Product.ProductName</label></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12"><p>@purchaseGroup.Product.Description</p></div>
                                        </div>
                                        <div class="row text-center" style="margin-bottom: 10px;">
                                            <button class="btn btn-primary">Download</button>
                                        </div>
                                    </div>
                                    <div class="col-xs-9" style="padding-top: 10px;">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-3"><label>Purchased On:</label></div>
                                                <div class="col-xs-9">@purchaseGroup.Purchase.PurchaseDate</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-3"><label>Quantity:</label></div>
                                                <div class="col-xs-9">@purchaseGroup.Quantity</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-3"><label>Activation Code:</label></div>
                                                <div class="col-xs-9">
                                                    @if (purchaseGroup.ActivationCodes.Count > 1)
                                                    {
                                                        <select>
                                                            @foreach (var activationCode in purchaseGroup.ActivationCodes)
                                                            {
                                                                <option>@activationCode.ActivationNumber</option>
                                                            }
                                                        </select>
                                                    }
                                                    else
                                                    {
                                                        @purchaseGroup.ActivationCodes.First().ActivationNumber;
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <div class="col-xs-1"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        updateCartQuantity(@user.Cart.CartId);
    });
</script>
