
@using ShoppingCart_Team7B.Models;

@{
    ViewBag.Title = "ListProducts";
    List<Product> productList = (List<Product>)ViewData["productList"];
    User user = (User)ViewData["user"];
}

<div class="container">
    <nav class="navbar navbar-default" style="margin-bottom: 0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">View Products</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="~/Purchases/ViewPurchases">My Purchases</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/Cart/ViewCart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart (<span id="cartQuantity"></span>)</a></li>
                <li><a href="~/User/Logout"><span class="glyphicon glyphicon-log-out"></span>Logout (@user.Username)</a></li>
            </ul>
        </div>
    </nav>
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    @{
                        int numRows = ((int)productList.Count / 3) + 1;
                        int lastRowItemCount = productList.Count % 3;
                        int i, j, numCols;
                    }
                    <table>
                        <tbody>
                            @for (i = 0; i < numRows; i++)
                            {
                                <tr>
                                    @if (i == numRows - 1) { numCols = lastRowItemCount; }
                                    else { numCols = 3; }
                                    @for (j = 0; j < numCols; j++)
                                    {
                                        <td width="33%" style="border: 1px solid #ccc; border-radius: 5px;">
                                            <table>
                                                <tr><td class="text-center"><img width="60%" src="~/Images/productLogo.jpg" /></td></tr>
                                                <tr><td class="text-center"><label>@productList[i * 3 + j].ProductName</label></td></tr>
                                                <tr><td style="padding: 10px;">@productList[i * 3 + j].Description</td></tr>
                                                <tr>
                                                    <td class="text-center" style="padding: 10px;">
                                                        <button class="btn btn-success" onclick="addToCart(@productList[i*3+j].ProductId);">$@productList[i * 3 + j].Price - Add To Cart</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="col-xs-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        updateCartQuantity(@user.Cart.CartId);
    });
    function addToCart(productId)
    {
        $.ajax({
            method: "POST",
            url: "AddToCart",
            data: { userId: @user.UserId, productId: productId },
            success: function () {
                updateCartQuantity(@user.Cart.CartId);
            }
        });
    }
</script >

